/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container */
.signup-container {
    background-color: #ffffff;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Form heading */
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff8c8c;
}

/* Labels */
label {
    display: block;
    margin-bottom: 6px;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

/* Input fields & select */
input,
select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Input focus */
input:focus,
select:focus {
    outline: none;
    border-color: #ff8c8c;
}

/* Buttons */
.btn-submit {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background-color: #ff8c8c;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn-reset {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background-color: #dddddd;
    color: #333;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

/* Button hover */
.btn-submit:hover {
    background-color: #ff7373;
}

.btn-reset:hover {
    background-color: #cfcfcf;
}

/*Existing member login link*/
.existingMember{
    text-align: left;
}
.existingMember span a{
    color: #ff7373;
    text-decoration: none;
}